.search-total-label {
	margin-top: 35px;
}

.search-asset-type-sticker {
	color: #869CAD;
}

.search-document-content {
	font-weight: 400;
}

.search-results-search-modal-description {
	font-size: 14px;
	padding-bottom: 10px;
}

.search-result-thumbnail-img {
	height: 44px;
	width: 44px;
}

.tabular-list-group .list-group-item-content h6.search-document-tags {
	margin-top: 13px;
}

.taglib-asset-tags-summary a.badge, .taglib-asset-tags-summary a.badge:hover {
	color: #65B6F0;
}